<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lagrange stream</title>
    <script src="../static/start.js" type="text/javascript"></script>
    <link href="../static/start.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
Lagrange
    </div>
<center> 
    <div id="about-us">
<p>Just make a good ad and money will come</p>
</div>
    <a href="/registration"><input type="button" id="registration" value="REGISTRATION"></a>
        <a href="/login"><input type="button" id="enter" value="SIGN IN"></a>
    </center>
</body>
</html>
